body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background: #fff;
  color: #333;
}
#popup {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 250px; /* 적당한 팝업 크기 설정 */
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.slider-container {
  margin: 10px 0;
}
.slider-label {
  margin-bottom: 5px;
  font-weight: bold;
}
.slider {
  width: 100%;
}
.info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.info div {
  margin-bottom: 5px;
}

.ad-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ad-info span:last-child {
  text-align: right;
  flex: 1; 
}